<div class="container py-4">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Create New Blog</h3>
        </div>
        
        <div class="card-body">
          <%= render "form", blog: @blog %>
        </div>
        
        <div class="card-footer">
          <%= link_to blogs_path, class: "btn btn-outline-secondary" do %>
            <i class="bi bi-arrow-left"></i> Back to blogs
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>